<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MeetMe!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Moment and a date range picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

<body>
<div class="container">

<h1>Join the meeting!</h1>
<br />


<label><b>Meeting details:</b></label>
<br />
<p id="description"></p>
<label><b>Anticipated duration:</b></label>
<label id="duration"></label>

<br /><br />

<h2>Now, for your availability!</h2>
      <label><b>Time range</b></label>
      <input type=time name="open" id="open" size="10" value="09:00">
      <input type=time name="close" id="close" size="10" value="17:00">
      <br /><br />


<h2>Calendars: </h2>
<!-- Table to be filled in by js functions -->
<table class="cal_table" id="cal_table">
    <label> Select calendars from which to populate event table:  </label>
</table>
<br />
    <h2>Events from selected calendars: </h2>
<!-- Table to be filled in by js functions -->
<table class="event_table" id="event_table">
    <tbody>
    </tbody>
</table>
<br />
    <h2>Your blocks of free time: </h2>
<!-- Table to be filled in by js functions -->
<table class="free_table" id="free_table">
    <tbody>
    </tbody>
</table>
<br /><br />

<label><h2>Which meeting participant are you?</h2></label>
<table class="people_table" id="people_table"></table>
<br />
<input id="join" type="submit" value="Submit!" onclick="send_stuff_to_db()" />
<br /><br /><br />

<script type="text/javascript">
var SCRIPT_ROOT = {{request.script_root|tojson|safe}} ;
var CHOOSE_URL = SCRIPT_ROOT + "/_choose";
var EVENT_URL = SCRIPT_ROOT + "/_events";
var POP_URL = SCRIPT_ROOT + "/_populate";
var SEND_URL = SCRIPT_ROOT + "/_send";
var REDIR_URL = SCRIPT_ROOT + "/_redir";

// A global for busy times. Global will be set in
// the populate event table function and then sent
// to the database in the send stuff to db function.
var busy_times;

function send_stuff_to_db(){
    // Sends selected invitee, date range,
    // and busy_times to python to send to the db.
    // Then redirects to the status page for the meeting.
    console.log("Updating database...");
    //Throws an error if no one is selected, which is fine.
    // Prevents moving to the next page until selection is made.
    var invitee = document.querySelector('input[name="person"]:checked').value;

    $.getJSON(SEND_URL, {invitee: invitee,
                         busy_times: JSON.stringify(busy_times)},
                         function(data){
             var meeting_code = data.result.meetcode;
             console.log("Routing to status page for ", meeting_code);
             window.location.assign(SCRIPT_ROOT + meeting_code + "/status");
    });
}

function redir(){
    // Redirect to meeting status page if you click to the
    // join page which already has all participants responding.
    console.log("Redirecting...");
    $.getJSON(REDIR_URL, {}, function(data){
             var meet_code = data.result.meetcode;
             console.log("Routing to status page for ", meet_code);
             window.location.assign(SCRIPT_ROOT + meet_code + "/status");
    });
}

function stuff_from_database(){
    // Put stuff from the database on the page,
    // like the event description, the people pending,
    // and the meeting length.
    $.getJSON(POP_URL, {}, function(data){
        console.log("Got info from database.");
        var descript = data.result.description;
        var duration = data.result.duration;
        var participants = data.result.participants;

        if(participants.length == 0){
            // If there are no participants left to sign in,
            // just redirect to the status page.
            redir()
        }
        document.getElementById("description").innerHTML = descript;
        document.getElementById("duration").innerHTML = duration + " minutes.";
        // Populate table with radio button selectable list of invitees.
        var people_table = document.getElementById('people_table');
        for (var i = 0; i < participants.length; i++){
            people_table.insertRow().outerHTML = "<tr> <input type='radio' name='person' value='" +
                    participants[i] + "' id=p_'" + participants[i] + "> " + participants[i] +"<br/></tr>"
        }
    });
}

function populate_cal_table(){
    // Get a list of the google calendars.
    $.getJSON(CHOOSE_URL, {}, function(data){
        console.log("Populating table with calendars and checkboxes.");
        var cals = data.result.cal_list;

        var cal_tab = document.getElementById('cal_table');
        var num_cals = cals.length;
        for (var i = 0; i < num_cals; i++){
            // Fill the calendar table with the calendars and checkboxes.
            // Also an invisible field to store the calendar's id.
            cal_tab.insertRow().outerHTML = "<tr class='the_row'> <input name='checkbox' type='checkbox' id='check" + i
                + "'> " + cals[i].summary +
                "<input name='value' id='calendar_number_" + i + "' value ='" + cals[i].summary +
                "' readonly style='visibility:hidden'> </tr>";
        }
        // When the calendars have been put on the page,
        // populate the event table.
        populate_event_table();
    });
}

function populate_event_table(){
    // Populate the event table with events from the selected calendars.
    var cal_tab = document.getElementById('cal_table');
    var leng = cal_tab.rows.length;
    // Check the checkboxes to check which checks are checked.
    var chosen = [];
    for (var i = 0; i < leng; i++){
        var chkname = "check" + i;
        var chk = document.getElementById(chkname);
        var cal_name = "calendar_number_" + i;
        var thiscal = document.getElementById(cal_name).value;
        if (chk.checked){
            chosen.push(thiscal)
        }
    }
    console.log("The following calendars have been selected: " + chosen);
    var open = document.getElementById('open').value;
    var close = document.getElementById('close').value;
    $.getJSON(EVENT_URL, {open: open, close: close,
                chosen: JSON.stringify(chosen)}, function(data){
        console.log("Populating event list.");
        var events = data.result.event_list;
        var free_times = data.result.formatted_free_times;
        // Put the busy times in the global to pass back to
        // other server function later.
        busy_times = data.result.db_ready_busy;

        // Event table needs to be refreshed every time this function
        // is called, since user may have unchecked a checkbox that
        // had been checked before.
        var table = document.getElementById('event_table');
        while (table.firstChild) {
            table.removeChild(table.firstChild);
        }
        var e_table = document.createElement('tbody');
        table.appendChild(e_table);

        // Put the events in the table.
        var len = events.length;
        for (var i = 0; i < len; i++) {
            // Each event has a description, open time, and close time.
            // Then add some whitespace.
            e_table.insertRow().outerHTML = "<tr>" + events[i][0] + "<br />" +
                events[i][1] + "<br />" + events[i][2] + "</tr><tr><br /></tr>";
        }
        // Now populate the table of free times.
        // First, clear old table.
        var table = document.getElementById('free_table');
        while (table.firstChild){
            table.removeChild(table.firstChild);
        }
        var f_table = document.createElement('tbody');
        table.appendChild(f_table);

        // Add the free times to the table.
        var len = free_times.length;
        for (var i = 0; i < len; i++) {
            f_table.insertRow().outerHTML = "<tr>" + free_times[i] + "</tr><tr><br /></tr>";
        }
    });
}


// Next line from is a magic line from"
// https://stackoverflow.com/questions/22234363/how-to-make-event-listener-for-changes-in-all-and-any-check-boxes-in-document-wi
$(document).on('change', 'input[type=checkbox]', function(e) {
    populate_event_table();
});


$(document).ready(function(){
    console.log("Page loaded");
    stuff_from_database();
    populate_cal_table();

    $('input[name="open"]').change(
        function() {
            // Reload the times when this element is changed.
            // Includes a delay so that we have time to change both the hours
            // and the minutes before the page just starts automatically reloading.
            setTimeout(function(){populate_event_table();}, 4000);
        });

    $('input[name="close"]').change(
        function() {
            // Reload the times when this element is changed.
            // Includes a delay so that we have time to change both the hours
            // and the minutes before the page just starts automatically reloading.
            setTimeout(function(){populate_event_table();}, 4000);
        });

});

</script>
</div>  <!--for bootstrap-->
</body>
</html>
