<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MeetMe!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Moment and a date range picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>

<body>
<div class="container">

    <br />

    <h1>Create a new meeting</h1>
    <br />
    <textarea name='description' id="description" rows='3' cols='30' placeholder="Meeting description..."></textarea>
    <br /><br />
    <label>List everyone that will be attending, including you:</label>

    <table class="invite_table" id="invite_table">
    <tr class="invitee">
      <td><input name="name" id="p_0" type="text" size="15" /></td>
      <td><input type="submit" value="Add" onclick="add_invitee()"></td>
    </tr>
  </table>
  <br /><br />

  <label><b>Date range:</b></label>
  <input type="text" name="daterange" id="daterange" size="15"
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 15em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')],
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

    <br /><br />
    <label> Minimum window of time in which to schedule (minutes): </label>
    <input type="text" name="meeting_length" id="meeting_length" size="10" value="30">

    <br />
    <input type="submit" value="Create meeting!" onclick="goto_join_page()">


    <br /><br /><br />


<script type="text/javascript">
    var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    var NEXT_URL = SCRIPT_ROOT + "/_get_names";

    function add_invitee(){
    // Add additional invitee to the invitee table.
    console.log("Adding another invitee.");
    var table = document.getElementById('invite_table');
    var id_no = table .rows.length;
    table.insertRow().outerHTML = "<tr class='invitee'>" +
            "<td><input name='name' id='p_"+ id_no +"' type='text' size='15'/></td>" +
            "<td><input type='submit' value='Add' onclick='add_invitee()'></td></tr>";
  }

  function goto_join_page(){
    // Get all the names and other stuff, pass them over to the server,
    // then redirect to the join page for the meeting that we just created.
    console.log("Preparing to redirect to join page for the new meeting.");
    var table = document.getElementById('invite_table');
    var desc = document.getElementById('description').value;
    var duration = document.getElementById('meeting_length').value;
    var daterange = document.getElementById('daterange').value;
    var participants = [];
    var tab_len = table.rows.length;
    for (var i = 0; i < tab_len; i++){
        var cur_person = document.getElementById("p_" + i).value;
        if (cur_person != ""){
            // Ignore input fields that were left blank.
            participants.push(cur_person)
        }
    }
    console.log("Got the following participants: ", participants);
    if (participants.length >= 1 && !isNaN(duration) && duration > 0){
        // Don't want to do actually go to the next page if list is empty.
        // Or if someone entered something for duration that isn't a positive number.
        $.getJSON(NEXT_URL, {participants: JSON.stringify(participants),
                        desc: desc, duration: duration, daterange: daterange}, function(data){
             var meet_code = data.result.meetcode;
             console.log("Routing to join page for meet code:", meet_code);
             window.location.assign(SCRIPT_ROOT + meet_code + "/join");
        });
    }
  }

</script>
</div>
</body>
</html>
