<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MeetMe!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
</head>

<body>
<div class="container">
<br />
<h1>Meeting status</h1>
<br />

<label><b>Meeting details:</b></label>
<br />
<p id="description"></p>
<label><b>Anticipated duration:</b></label>
<label id="duration"></label>

<br />

<p><b>The following participants have responded:</b></p>
<table class="responded_table" id="responded_table">
</table>
<table class="pending_table" id="pending_table">
</table>

<br />
<a id="mail_link">Send an invitation to the meeting!</a>
<p id="code_area" ></p>
<p id="join_link" ></p>
<p id="status_link"></p>
<br />
<p>To keep track of this meeting, you can bookmark this page! Or send yourself an email with the link!</p>
<br />
<h2>These mutual blocks of free time are available:</h2>
<table class="free_table" id="free_table">
</table>

<br /><br /><br />

<script type="text/javascript">
var SCRIPT_ROOT = {{request.script_root|tojson|safe}} ;
var GET_EVENT_URL = SCRIPT_ROOT + "/_pull_info";

function get_stuff_from_database(){
    // Put stuff from the database on the page: available
    // times, the event description, the people pending,
    // the people responded, and the meeting length.
    $.getJSON(GET_EVENT_URL, {}, function(data){
        console.log("Got info from database.");
        var descript = data.result.description;
        var duration = data.result.duration;
        var pending = data.result.participants;
        var checked_in = data.result.already_checked_in;
        var free = data.result.free;
        var mail_str = data.result.mail_str;
        var meeting_code = data.result.meetcode;

        // Update the html with the info from the db.
        document.getElementById("description").innerHTML = "<ul><li>" + descript + "</ul></li>";
        document.getElementById("duration").innerHTML = duration + " minutes.";
        document.getElementById("mail_link").innerHTML = mail_str;
        document.getElementById("code_area").innerHTML = "Your meeting code is: " + meeting_code;
        document.getElementById("join_link").innerHTML = "To join this meeting, go to: <br />" +
            "wherever_this_is_hosted/" + meeting_code + "/join";
        document.getElementById("status_link").innerHTML = "To check the status of this meeting, go to: <br />" +
            "wherever_this_is_hosted/" + meeting_code + "/status";

        var responded_table = document.getElementById('responded_table');
        for (var i = 0; i < checked_in.length; i++){
            responded_table.insertRow().outerHTML = "<tr><ul><li>" + checked_in[i] + "</ul></li></tr>"
        }
        var pending_table = document.getElementById('pending_table');
        if (pending.length != 0){
            pending_table.insertRow().outerHTML = "<tr><p><b>The following participants' " +
                "responses are still pending:</b></p></tr>"
        }else{
            pending_table.insertRow().outerHTML = "<tr><p>It looks like all the invitees have responded!</p></tr>"
        }
        for (var i = 0; i < pending.length; i++){
            pending_table.insertRow().outerHTML = "<tr><ul><li>" + pending[i] + "</ul></li></tr>"
        }
        var free_table = document.getElementById('free_table');
        for (var i = 0; i < free.length; i++){
            free_table.insertRow().outerHTML = "<tr><ul><li>" + free[i] + "</ul></li></tr>"
        }
    });
}

$(document).ready(function(){
    console.log("Page loaded");
    get_stuff_from_database()
});

</script>
</div>  <!--for bootstrap-->
</body>
</html>
